<%= form_with(model: qand_a, local: true) do |form| %>
  <% if qand_a.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qand_a.errors.count, "error") %> prohibited this qand_a from being saved:</h2>

      <ul>
      <% qand_a.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :qa %>
    <%= form.text_field :qa, id: :qand_a_qa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
