<p id="notice"><%= notice %></p>

<h1>Qand As</h1>

<table>
  <thead>
    <tr>
      <th>Qa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qand_as.each do |qand_a| %>
      <tr>
        <td><%= qand_a.qa %></td>
        <td><%= link_to 'Show', qand_a %></td>
        <td><%= link_to 'Edit', edit_qand_a_path(qand_a) %></td>
        <td><%= link_to 'Destroy', qand_a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qand A', new_qand_a_path %>
