<p id="notice"><%= notice %></p>

<p>
  <strong>Job-description:</strong>
  <%= @post.job-description %>
</p>

<p>
  <strong>Task-objective:</strong>
  <%= @post.task-objective %>
</p>

<p>
  <strong>Task-description:</strong>
  <%= @post.task-description %>
</p>

<p>
  <strong>Actionable-tips:</strong>
  <%= @post.actionable-tips %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @post.skills %>
</p>

<p>
  <strong>Industry-field:</strong>
  <%= @post.industry-field %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @post.experience %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @post.cost %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
